body{
    background-image: linear-gradient(to bottom right, rgb(81, 81, 231), white);
    background-repeat: no-repeat;


}


.navbar{
    background: transparent;
    border:1px solid black;
}

 .badge{
    color:white;
}

#navbarDropdownMenuLink{
    color:white;
    margin-right:0;
    align-items:center;
    font-size: 100%;
}


.logo{
    font-size: 150%;
    color:white;
}


.butn{
    text-align: center;
}


.form-check-label{
    color:white;
}

#l{
    color:white;
}

.toper{
    height: 100vh;
}



#lastedit{
    color:white;
}


#edit:link{
    color:white;
}

a:hover{
    text-decoration: none;
}

#mytask, #mydate{
    width:80%;
}