body {
	font-family: "Exo", "Muli","Roboto",'Montserrat', sans-serif;
	/* overflow: hidden; */
	line-height: 1.1rem;
}
::-webkit-scrollbar {
    width: 4px;
	background-color:#dae0e5;
	display: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(25,25,25,0.7);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 2px rgba(25,25,25,0.9);
}
.bg-grey {
	background-color: #e3e3e3!important;
}
.h6, h6 {
	font-size: 0.9rem;
}
.h5, h5 {
	font-size: 1rem;
}
#map {
	height: 200px;
	z-index: 0;
}
#ms3DMap{
	width: 100%;
	height: 480px;
	z-index: 0;
}
.bg-light {
	background-color: #fff!important;
	border-bottom: 1px #ccc;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.navbar-nav {
	font-size: 0.85rem;
}
.navbar-brand {
	padding: 0px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #007bff;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
	color: #007bff;
	font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #007bff;
	opacity: 0.9;
}
.nav-item-login{
	border-right: 1px solid #ccc;
}
.nav-link {
    color: #000;
}
.nav-link:hover, .nav-link:active {
    color: #007bff;
}

ul#pills-tab {
    border-bottom: 3px solid #007bff;
}
.catalog-tab-content {
    min-height: 180px;
	height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.card-columns > .card:hover {
	/*border: 1px solid #007bff;*/
	border: 1px solid #000;
	cursor: pointer;
}
div#pills-layer {
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.nav-link-tab {
	border-radius: 0px!important;
}
.feather {
	width: 16px;
	vertical-align: text-bottom;
}
.report-table {
	font-size: 0.85rem;
	margin-bottom: 0px;
}
.report-table th, .report-table td {
	padding:0.5rem;
}
.sample-report-area > .card > .card-body {
	padding: 5px 0px 0px 0px;
}
.address-search-btn {
	border: 0px solid #007bff;
	background-color: #fff;
	color: #007bff;
}
.address-search-input {
	margin-right: 0px!important;
	border-radius: 0px;
	border: 0px solid #007bff;
}
.user-email::placeholder, .user-password::placeholder,
.address-search-input::placeholder {
	color: #007bff;
	font-weight: bold;
}
.report-map-dropdown {
	border: 0px solid #007bff;
	font-weight: bold!important;
}
.btn-report {
	color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-report:focus, .btn-report:hover {
    text-decoration: none;
}
.btn-report:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.report-card {
	padding: 5px 0px 0px 5px;
	/*border-right: 1px solid #E1E1E1;*/
	font-size: 0.9rem;
}
.report-card > .card-title {
	font-weight: bold;
	margin-bottom: 0px!important;
	font-size: 0.9rem;
}
.report-title-price{
	font-weight: bold;
	position: relative;
    top: 40%;
}
.pricing-card {
	background-color: #F4F5F7;
}

.wrap-center {
	position: absolute;
	top: 70%;
	width:70%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.report-field-lists > .list-group-item {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	color: #007bff;
    padding: .2rem .25rem;
}
.report-field-lists > .list-group-item.active {
    color: #007bff;
    background-color: #fff;
	border-bottom: 0px;
}
.multi-report-table .head-bg-1{
	background: rgba(51, 164, 86, 0.30);
}
.multi-report-table .head-bg-2{
	background: rgba(137, 204, 102, 0.30);
}
.multi-report-table .head-bg-3{
	background: rgba(255, 255, 191, 0.30);
}
.multi-report-table .head-bg-4{
	background: rgba(249, 145, 83, 0.30);
}
.multi-report-table .head-bg-5{
	background: rgba(228, 26, 28, 0.30);
}
.multi-report-table .col-bg-1{
	background: rgba(51, 164, 86, 0.67);
}
.multi-report-table .col-bg-2{
	background: rgba(137, 204, 102, 0.67);
}
.multi-report-table .col-bg-3{
	background: rgba(255, 255, 191, 0.67);
}
.multi-report-table .col-bg-4{
	background: rgba(249, 145, 83, 0.67);
}
.multi-report-table .col-bg-5{
	background: rgba(228, 26, 28, 0.67);
}
.multi-report-table thead th,
.multi-report-table th,
.multi-report-table td {
	border: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.legend {
	line-height: 18px;
	color: #555;
	z-index: 9999;
}
.legend .card {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.info {
    padding: 6px 8px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}


.admin-tables, .admin-page {
	font-size: 0.8rem;
}
.admin-tables .row {
	margin-right: 0px;
	margin-left: 0px;
}
.admin-tables > .form-inline {
	display: block;
}
.form-inline label {
	display: unset;
}
.address-search-input.form-control,
.address-search-input.form-control:focus {
	color: #007bff;
	border-color: #007bff;
}

.twitter-typeahead {
	width: 90%;
}
.typeahead {
  background-color: #fff;
}

pre.response {
  float:left;
  width: 430px;
  height: 400px;
  border: 1px solid #DDD;
  font-size: 12px;
  overflow: scroll;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 480px;
  height: 30px;
  top: 3px!important;
  left: -1px!important;
  /*padding: 2px 4px;*/
  padding: .375rem .75rem;
  /*font-size: 24px;*/
  /*line-height: 30px;*/
  line-height: 1.5;
  border: 2px solid #ccc;
  /*-webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;*/
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}
.typeahead.empty {
  border: 2px solid red;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  width: 420px;
}

.tt-dropdown-menu {
  width: 422px;
  /*margin-top: 12px;*/
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /*-webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;*/
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  /*font-size: 18px;*/
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #007bff;
}

.tt-suggestion p {
  margin: 0;
}

.block-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 98%;
  text-align: center;
}

/* Pagination ========================== */

.pagination {
	-webkit-box-pack: end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
table.table-bordered.dataTable {
    border-collapse: collapse!important;
}
.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled a:focus,
.pagination .disabled a:active {
  color: #bbb; }

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
}

.pagination li {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .pagination li a:focus,
  .pagination li a:active {
    background-color: transparent;
    color: #555; }

.pagination > li > a {
  border: none;
  font-weight: bold;
  color: #555;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    /*color: #fff;*/
    text-decoration: none;
    background-color: #fff;
    border: 0px solid #007bff;
}

.pagination > li:first-child > a,
.pagination > li:last-child > a {
  width: auto;
  height: 32px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .pagination > li:first-child > a .material-icons,
  .pagination > li:last-child > a .material-icons {
    position: relative;
    bottom: 2px; }

.pagination-sm > li:first-child > a,
.pagination-sm > li:last-child > a {
  width: 28px;
  height: 28px; }
  .pagination-sm > li:first-child > a .material-icons,
  .pagination-sm > li:last-child > a .material-icons {
    position: relative;
    top: -1px;
    left: -6px;
    font-size: 20px; }

.pagination-lg > li:first-child > a,
.pagination-lg > li:last-child > a {
  width: 44px;
  height: 44px; }
  .pagination-lg > li:first-child > a .material-icons,
  .pagination-lg > li:last-child > a .material-icons {
    font-size: 30px;
    position: relative;
    top: -3px;
    left: -10px; }

.ldBar {
	position: absolute;
	top: 10px;
	width:99%!important;
	height:100%!important;
}
.ldBar-horizontal {
	position: unset!important;
	width:99%!important;
	height:80%!important;
}
.ldbar-cards {
	min-height:150px;
}

@media (min-width: 1140px) {
	.main-sidebar {
		flex: 0 0 28%!important;
		max-width: 28%!important;
	}
	.main-maparea {
		flex: 0 0 72%!important;
		max-width: 72%!important;
	}
}
@media (min-width: 992px) {
	.map-dropdown-container {
		flex: 0 0 0!important;
		border-left: 1px solid #ccc;
	}
	.main-sidebar {
		padding-right: 0px!important;
	}
	.main-maparea {
		padding-left: 5px!important;
	}
	#map {
		height: 490px;
	}
}
@media only screen and (max-width: 980px){
	#map {
		height: 400px;
	}
}
@media only screen and (max-width: 380px){
	body {
		font-size: 0.9rem;
	}
	.twitter-typeahead {
		width: 88%;
	}
	.ldBar {
		position: absolute;
		top: -1px;
		left: 70%;
		width:99%;
		height:100%;
	}
	.ldbar-cards {
		min-height:250px;
	}
	.multi-report-table {
		display: block;
		overflow: auto;
	}
}