			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<!--img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" />-->
					<div class="row">
						<div class='col-xs-3 center-xs'>
							<a href="profile.html" data-ajax='false'><div class='box'>
								<img class="profile-thumbnail" src="img/mp-logo_xs.png" />

							</div></a>
						</div>
						<div class='col-xs-9 start-xs'>
							<div class='box'>
								<div><small>Welcome:</small></div>
								<span id="mp-username"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="box">
                        <label for="flip2b">SELECT ENVIRONMENT:</label>
                        <select name="flip2" id="flip2b" data-role="flipswitch">
                            <option value="dev">DEV</option>
                            <option value="qa">QA</option>
                        </select>
					</div>
				</div>

				<ul id="login-menu" style="display:none" data-role="listview" data-inset="false">
					<li data-role="list-divider">Navigation</li>
					<li><a href="login.html" data-ajax='false' data-icon="true">Login</a></li>
				</ul>

				<ul id="logout-menu" data-role="listview" data-inset="false">
					<li data-role="list-divider">Navigation</li>
					<li><a href="#" id="logout-link" data-ajax='false' data-icon="true">Logout</a></li>
					<!--li><a href="index.html" data-ajax='false' data-icon="true">Home</a></li-->
					<li><a href="index.html" data-ajax='false' data-icon="false">Dashboard</a></li>
					<li><a href="profile.html" data-ajax='false' data-icon="false">Profile</a></li>
					<li><a href="mytasks.html" data-ajax='false' data-icon="false">MyTasks</a></li>
					<!--li><a href="main.html" data-ajax='false' data-icon="false">Category</a></li>
					<li><a href="leaderboard.html" data-ajax='false' data-icon="false">Leaderboard</a></li>
					<li><a href="leaderboard.html" data-ajax='false' data-icon="false">Settings</a></li-->
				</ul>
				<!--div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Indirect Navigation</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="quiz.html" data-ajax='false' data-icon="false">Quiz Page</a></li>
						<li><a href="speech.html" data-ajax='false' data-icon="false">Speech</a></li>
					</ul>
				</div-->

				<!--<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Basic Elements</h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="templates/elements/text.html" data-ajax='false' data-icon="false">Text Elements</a></li>
						<li><a href="templates/elements/grid.html" data-ajax='false' data-icon="false">FlexboxGrid</a></li>
						<li><a href="templates/elements/buttons.html" data-ajax='false' data-icon="false">Buttons</a></li>
						<li><a href="/templates/elements/header_footer.html" data-ajax='false'>Header &amp; Footer</a></li>
						<li><a href="/templates/elements/listviews.html" data-ajax='false'>Listviews</a></li>
						<li><a href="/templates/elements/forms.html" data-ajax='false'>Forms</a></li>
						<li><a href="/templates/elements/tables.html" data-ajax='false'>Tables</a></li>
						<li><a href="/templates/elements/dialog_popups.html" data-ajax='false'>Dialog &amp; Popup</a></li>
						<li><a href="/templates/elements/panels.html" data-ajax='false'>Panels</a></li>
						<li><a href="/templates/elements/autocomplete.html" data-ajax='false'>Autocomplete</a></li>
						<li><a href="/templates/elements/collapsible_accordions.html" data-ajax='false'>Collapsible &amp; Accordions</a></li>
					</ul>
				</div>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Extended Elements</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="/templates/extended/tabs.html" data-ajax='false'>Tabs</a></li>
						<li><a href="/templates/extended/cards.html" data-ajax='false'>Cards</a></li>
						<li><a href="/templates/extended/search.html" data-ajax='false'>Search</a></li>
						<li><a href="/templates/extended/icons.html" data-ajax='false'>Icons</a></li>
						<li><a href="/templates/extended/charts.html" data-ajax='false'>Charts</a></li>
						<li><a href="/templates/extended/toasts.html" data-ajax='false'>Toasts</a></li>
						<li><a href="/templates/extended/bottomsheet.html" data-ajax='false'>Bottom Sheets</a></li>
					</ul>
				</div>
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Layouts</li>
				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Real-World-templates</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="/templates/pages/profile.html" class="ui-disabled" data-ajax='false'>Profile</a></li>
						<li><a href="/templates/pages/dashboard.html" class="ui-disabled" data-ajax='false'>Dashboard</a></li>
						<li><a href="/templates/pages/gallery.html" class="ui-disabled" data-ajax='false'>Gallery</a></li>
						<li><a href="/templates/pages/chat.html" class="ui-disabled" data-ajax='false'>Chat</a></li>
						<li><a href="/templates/pages/mail_inbox.html" class="ui-disabled" data-ajax='false'>E-Mail Inbox</a></li>
						<li><a href="/templates/pages/team.html" class="ui-disabled" data-ajax='false'>Team</a></li>
						<li><a href="/templates/pages/products_services.html" class="ui-disabled" data-ajax='false'>Products &amp; Services</a></li>
						<li><a href="/templates/pages/blog.html" class="ui-disabled" data-ajax='false'>Blog</a></li>
						<li><a href="/templates/pages/blogpost.html" class="ui-disabled" data-ajax='false'>Blogpost</a></li>
					</ul>
				</div>-->
				<hr class="inset">
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">INFORMATION</li>
				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>ABOUT US</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="help.html" data-ajax='false'>Help</a></li>
						<li><a href="about.html" data-ajax='false'>Company</a></li>
						<li><a href="policies.html" data-ajax='false'>Policies</a></li>
					</ul>
				</div>
			</div>
			<!-- /panel left -->
